body {
  background-color: #A8AFB3;
}

header {
  text-align: center;
}

.imageList {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 100px;
}

.imageItem {
  height: 350px;
  width: 350px;
  overflow: hidden;
  text-align: center;
}

.imageItem img {
  height: 50%;
  width: auto;
  border: 3px solid black;
  /*height: auto;
  width: 50%;*/
}
