body {
  background-color: #A8AFB3;
}

header {
  text-align: center;
}

.imageList {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 100px;
  height: 300px;
}

.imageItem {
  height: 350px;
  width: 350px;
  overflow: hidden;
  text-align: center;
}

.imageItem img {
  height: 50%;
  width: auto;
  border-width: 3px;
  border-style: solid;
  border-color: black;
}

.chartButton {
  display: flex;
  justify-content: space-around;
}

.clearLSButton {
  display: flex;
  justify-content: space-around;
}

.dataContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
  height: 75vh;
}

.chartFlexBox {
  height: 60vh;
  width: auto;
}

.dataContainer {
  display: flex;
}
